# Flutter build artifacts
build/
**/build/
.dart_tool/

# Android build
android/app/build/
android/.gradle/

# APK / AAB
*.apk
*.aab

# Flutter generated assets
.flutter-plugins
.flutter-plugins-dependencies